<div class="container py-5">
  <h1 class="display-4 mb-5">Angular <strong>Signals</strong></h1>
  <form>
    <div class="card col-md-6 shadow">
      <div class="card-body">
        <select
          class="form-select mb-3"
          [ngModel]="quantity()"
          (change)="onQuantitySelected($any($event.target).value)">
          @for (q of qtyAvailable(); track q) {
            <option>{{ q }}</option>
          }
        </select>

        <div>Vehicle: {{ selectedVehicle().name }}</div>
        <div>Price: {{ selectedVehicle().price }}</div>
        <div [style.color]="color()">Total: {{ totalPrice() }}</div>

        <button class="btn btn-primary mt-3">Buy Vehicle</button>
      </div>
    </div>
  </form>
</div>
